<?php
/**
 * OrderlineApi
 * PHP version 5
 *
 * @category Class
 * @package  SayWhenOrderlines
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache License v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * SayWhen Orderlines
 *
 * SayWhen Orderlines API Documentation
 *
 * OpenAPI spec version: 1.0
 * Contact: gerb@bumbal.eu
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace SayWhenOrderlines\API;

use \SayWhenOrderlines\ApiClient;
use \SayWhenOrderlines\ApiException;
use \SayWhenOrderlines\Configuration;
use \SayWhenOrderlines\ObjectSerializer;

/**
 * OrderlineApi Class Doc Comment
 *
 * @category Class
 * @package  SayWhenOrderlines
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache License v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class OrderlineApi
{
    /**
     * API Client
     *
     * @var \SayWhenOrderlines\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \SayWhenOrderlines\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\SayWhenOrderlines\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('http://local.orderlines.saywhen.nl/api/v1');
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \SayWhenOrderlines\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \SayWhenOrderlines\ApiClient $apiClient set the API client
     *
     * @return OrderlineApi
     */
    public function setApiClient(\SayWhenOrderlines\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation createOrderline
     *
     * Create a Orderline Object
     *
     * @param \SayWhenOrderlines\Model\OrderlineModel $body Orderline object (required)
     * @throws \SayWhenOrderlines\ApiException on non-2xx response
     * @return \SayWhenOrderlines\Model\ApiResponse
     */
    public function createOrderline($body)
    {
        list($response) = $this->createOrderlineWithHttpInfo($body);
        return $response;
    }

    /**
     * Operation createOrderlineWithHttpInfo
     *
     * Create a Orderline Object
     *
     * @param \SayWhenOrderlines\Model\OrderlineModel $body Orderline object (required)
     * @throws \SayWhenOrderlines\ApiException on non-2xx response
     * @return array of \SayWhenOrderlines\Model\ApiResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function createOrderlineWithHttpInfo($body)
    {
        // verify the required parameter 'body' is set
        if ($body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $body when calling createOrderline');
        }
        // parse inputs
        $resourcePath = "/orderline";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen($apiKey) !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\SayWhenOrderlines\Model\ApiResponse',
                '/orderline'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\SayWhenOrderlines\Model\ApiResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\SayWhenOrderlines\Model\ApiResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation deleteOrderline
     *
     * Delete a Orderline Object
     *
     * @param int $orderline_id ID of the orderline to delete (required)
     * @throws \SayWhenOrderlines\ApiException on non-2xx response
     * @return \SayWhenOrderlines\Model\ApiResponse
     */
    public function deleteOrderline($orderline_id)
    {
        list($response) = $this->deleteOrderlineWithHttpInfo($orderline_id);
        return $response;
    }

    /**
     * Operation deleteOrderlineWithHttpInfo
     *
     * Delete a Orderline Object
     *
     * @param int $orderline_id ID of the orderline to delete (required)
     * @throws \SayWhenOrderlines\ApiException on non-2xx response
     * @return array of \SayWhenOrderlines\Model\ApiResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function deleteOrderlineWithHttpInfo($orderline_id)
    {
        // verify the required parameter 'orderline_id' is set
        if ($orderline_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $orderline_id when calling deleteOrderline');
        }
        // parse inputs
        $resourcePath = "/orderline/{orderlineId}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // path params
        if ($orderline_id !== null) {
            $resourcePath = str_replace(
                "{" . "orderlineId" . "}",
                $this->apiClient->getSerializer()->toPathValue($orderline_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen($apiKey) !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                '\SayWhenOrderlines\Model\ApiResponse',
                '/orderline/{orderlineId}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\SayWhenOrderlines\Model\ApiResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\SayWhenOrderlines\Model\ApiResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation retrieveListOrderline
     *
     * Retrieve List of Orderlines
     *
     * @param \SayWhenOrderlines\Model\OrderlineRetrieveListArguments $arguments Orderline RetrieveList Arguments (required)
     * @throws \SayWhenOrderlines\ApiException on non-2xx response
     * @return \SayWhenOrderlines\Model\OrderlineListResponse
     */
    public function retrieveListOrderline($arguments)
    {
        list($response) = $this->retrieveListOrderlineWithHttpInfo($arguments);
        return $response;
    }

    /**
     * Operation retrieveListOrderlineWithHttpInfo
     *
     * Retrieve List of Orderlines
     *
     * @param \SayWhenOrderlines\Model\OrderlineRetrieveListArguments $arguments Orderline RetrieveList Arguments (required)
     * @throws \SayWhenOrderlines\ApiException on non-2xx response
     * @return array of \SayWhenOrderlines\Model\OrderlineListResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function retrieveListOrderlineWithHttpInfo($arguments)
    {
        // verify the required parameter 'arguments' is set
        if ($arguments === null) {
            throw new \InvalidArgumentException('Missing the required parameter $arguments when calling retrieveListOrderline');
        }
        // parse inputs
        $resourcePath = "/orderline";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($arguments)) {
            $_tempBody = $arguments;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen($apiKey) !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\SayWhenOrderlines\Model\OrderlineListResponse',
                '/orderline'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\SayWhenOrderlines\Model\OrderlineListResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\SayWhenOrderlines\Model\OrderlineListResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation retrieveOrderline
     *
     * Retrieve a Orderline Object
     *
     * @param int $orderline_id ID of Orderline to return (required)
     * @throws \SayWhenOrderlines\ApiException on non-2xx response
     * @return \SayWhenOrderlines\Model\OrderlineModel
     */
    public function retrieveOrderline($orderline_id)
    {
        list($response) = $this->retrieveOrderlineWithHttpInfo($orderline_id);
        return $response;
    }

    /**
     * Operation retrieveOrderlineWithHttpInfo
     *
     * Retrieve a Orderline Object
     *
     * @param int $orderline_id ID of Orderline to return (required)
     * @throws \SayWhenOrderlines\ApiException on non-2xx response
     * @return array of \SayWhenOrderlines\Model\OrderlineModel, HTTP status code, HTTP response headers (array of strings)
     */
    public function retrieveOrderlineWithHttpInfo($orderline_id)
    {
        // verify the required parameter 'orderline_id' is set
        if ($orderline_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $orderline_id when calling retrieveOrderline');
        }
        // parse inputs
        $resourcePath = "/orderline/{orderlineId}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // path params
        if ($orderline_id !== null) {
            $resourcePath = str_replace(
                "{" . "orderlineId" . "}",
                $this->apiClient->getSerializer()->toPathValue($orderline_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen($apiKey) !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\SayWhenOrderlines\Model\OrderlineModel',
                '/orderline/{orderlineId}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\SayWhenOrderlines\Model\OrderlineModel', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\SayWhenOrderlines\Model\OrderlineModel', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation updateOrderline
     *
     * Update a Orderline
     *
     * @param int $orderline_id ID of Orderline to update (required)
     * @param \SayWhenOrderlines\Model\OrderlineModel $body Orderline object that needs to be updated (optional)
     * @throws \SayWhenOrderlines\ApiException on non-2xx response
     * @return \SayWhenOrderlines\Model\ApiResponse
     */
    public function updateOrderline($orderline_id, $body = null)
    {
        list($response) = $this->updateOrderlineWithHttpInfo($orderline_id, $body);
        return $response;
    }

    /**
     * Operation updateOrderlineWithHttpInfo
     *
     * Update a Orderline
     *
     * @param int $orderline_id ID of Orderline to update (required)
     * @param \SayWhenOrderlines\Model\OrderlineModel $body Orderline object that needs to be updated (optional)
     * @throws \SayWhenOrderlines\ApiException on non-2xx response
     * @return array of \SayWhenOrderlines\Model\ApiResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function updateOrderlineWithHttpInfo($orderline_id, $body = null)
    {
        // verify the required parameter 'orderline_id' is set
        if ($orderline_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $orderline_id when calling updateOrderline');
        }
        // parse inputs
        $resourcePath = "/orderline/{orderlineId}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // path params
        if ($orderline_id !== null) {
            $resourcePath = str_replace(
                "{" . "orderlineId" . "}",
                $this->apiClient->getSerializer()->toPathValue($orderline_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen($apiKey) !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\SayWhenOrderlines\Model\ApiResponse',
                '/orderline/{orderlineId}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\SayWhenOrderlines\Model\ApiResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\SayWhenOrderlines\Model\ApiResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
